@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono|Raleway');

body {
  background: #67B26F; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom right,
    #4ca2cd,
    #67B26F
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom right,
    #4ca2cd,
    #67B26F
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #efefef;
  font-family: Futura, sans-serif;
  margin-top: 20px;
  min-height: 100vw;
}

ol, ul {
  list-style-type: none;
}

h3 {
  font-family: 'Droid Sans Mono', Helvetica, sans-serif;
  font-size: 40px;
  color: #efefef;
  line-height: 1.7;
}

.text {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.7;
  margin: 20px;
}

.center {
  text-align: center;
}

.square {
  border-radius: 100%;
  background: rgba(255, 255, 255, .2);
  border: 5px solid #FFF57A;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  padding: 0;
  text-align: center;
  width: 100px;
  display: inline-block;
  vertical-align: top;

}

.game-info {
  margin-left: 20px;
}

.errors {
  background: #c00;
  color: #fff;
  display: none;
  margin: -20px -20px 20px;
  padding: 20px;
}

.submit-button:focus {
  outline: none;
}

.submit-button {
  color: #333;
  border-radius: 5px;
  border: none;
  background: #F8F09D;
  padding: 5px 10px;
  margin: 30px;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
}
